@import "medicaldefault.css";

table {
  border: 1px solid;
}

/* .pet-image {
  height: 70%;
} */

#container {
}

.table {
  text-align: center;
}

.table th,
.table td {
  width: 10%;
  width: 10%;
  width: 10%;
  width: 60%;
  width: 10%;
}

.paging-nav {
  display: flex;
  justify-content: center;
}

.pagination {
  margin-left: auto;
}
