<!-- COMMUNITY MAIN 페이지 HTML -->

<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<head>
  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/community/commain.css">
      </style>
  </th:block>
  <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="main" id="main">  <!-- ▼ main ▼ -->

  <div class="banner">
    <img src="/image/community/mainbanner1.png" class="mainCommunityBanner"> <!-- 커뮤니티 메인배너 -->
  </div>

  <!-- ▼ 버튼 ▼ -->
    <div class="container">
      <div class="btn_field" style="display:flex; justify-content:center;">
        <a
            type="button"
            class="btn btn-custom btn-lg m-3"
            style="background-color: rgb(219, 219, 219)"
            th:href="@{/community/board/boardList(type='MEETING', order='I', category='ALL')}"> 모임 모집글 </a>
        <a
            type="button"
            class="btn btn-custom btn-lg m-3"
            style="background-color: rgb(219, 219, 219)"
            th:href="@{/community/board/boardList(type='ERRAND', order='I', category='ALL')}"> 심부름 구인글 </a>
      </div> <!-- ▲ 버튼 끝 ▲ -->


  <!-- ▼ 검색 input ▼ -->
    <form method="get" role="search" th:object="${boardSearchForm}"
        th:action="@{/community/comsearch}">
      <div class="input-group-text">
        <input type="text" th:field="*{keyword}" class="search-input" placeholder="검색어를 입력해주세요.">
      </div>
    </form><!-- ▲ 검색 input 끝 ▲ -->


<!-- ▼ 모임 모집글 인기글 ▼ -->
    <h2>모임 모집글 인기글</h2>
    <br>
    <div th:each="mboard : ${popMeeting}" class="popular-meeting">
      <div class="mb-card">

        <a> <!-- a태그 th에 게시글 상세보기 링크 걸어두기. "@{'/coms/comdetail/' + ${board.id}" -->
          <!-- ▼ 리스트 이미지 ▼ -->
          <div class="mb-card-thumbnailFile">
            <img th:src="${mboard.fileUrl}" class="board-card-thumbnailFile" width="600" height="400" style="object-fit:cover;">
          </div> <!-- ▲ 리스트 이미지 끝 ▲ -->


          <!-- ▼ 게시글 리스트 목록 ▼ -->
          <div class="mb-card-body">
            <p class="mb-card-boardType" th:text="${mboard.boardType}"></p> <!-- 게시글 타입 -->
            <p class="mb-card-category" th:text="${mboard.category}"></p> <!-- 게시글 카테고리 -->
            <h3 class="mb-card-boardName" th:text="${mboard.boardTitle}"></h3> <!-- 게시글 제목 -->
            <p class="mb-card-boardContent" th:text="${mboard.boardContent}"
               style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis; max-width:400px;"></p> <!-- 게시글 내용 -->
          </div> <!-- ▲ 게시글 리스트 목록 끝 ▲ -->

        </a>

      </div>
    </div> <!-- ▲ 모임 모집글 인기글 끝 ▲ -->


    <!-- ▼ 심부름 구인글 인기글 ▼ -->
    <br>
    <h2>심부름 구인글 인기글</h2>
    <br>
    <div th:each="eboard : ${popErrand}" class="popular-errand">
      <div class="eb-card">
        <a> <!-- a태그 th에 게시글 상세보기 링크 걸어두기. "@{'/coms/comdetail/' + ${board.id}" -->

          <!-- ▼ 리스트 이미지 ▼ -->
          <div class="eb-card-thumbnailFile">
            <img th:src="${eboard.fileUrl}" class="board-card-thumbnailFile" width="600" height="400" style="object-fit:cover;">
          </div> <!-- ▲ 리스트 이미지 끝 ▲ -->


          <!-- ▼ 게시글 리스트 목록 ▼ -->
          <div class="eb-card-body">
            <p class="eb-card-boardType" th:text="${eboard.boardType}"></p> <!-- 게시글 타입 -->
            <p class="eb-card-category" th:text="${eboard.category}"></p> <!-- 게시글 카테고리 -->
            <h3 class="eb-card-boardName" th:text="${eboard.boardTitle}"></h3> <!-- 게시글 제목 -->
            <p class="eb-card-boardContent" th:text="${eboard.boardContent}"
             style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis; max-width:400px;"></p> <!-- 게시글 내용 -->
          </div> <!-- ▲ 게시글 리스트 목록 끝 ▲ -->

        </a>

      </div>
    </div>  <!-- ▲ 심부름 구인글 인기글 끝 ▲ -->
  </div>
</div> <!-- ▲ main 끝 ▲ -->


</html>