<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<head>
  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="script">
    <script th:inline="javascript">

      //JSON
      fetch('/api/community/comsearch?type=meeting&order=desc')
        .then(res => res.json()) //JSON 데이터 변환
        .then(date => {
          console.log(data); //JSON DATA 확인
      })
      .catch(error => console.error('Error:', error));

    </script>
  </th:block>
</head>
<div layout:fragment="main" id="main"> <!-- ▼ main ▼ -->
  <div class="search-result-wrap">

    <!-- ▼ 검색 input ▼ -->
    <form method="get" role="search" th:object="${boardSearchForm}"
          th:action="@{/community/comsearch}">
        <div class="input-group-text">
          <input type="text" th:field="*{keyword}" class="search-input" placeholder="검색어를 입력해주세요.">

          <input type="hidden" th:field="*{boardType}">
          <input type="hidden" th:field="*{category}">
        </div>
    </form><!-- ▲ 검색 input 끝 ▲ -->


  <!-- ▼ 게시판 타입 ▼ -->
    <div class="boardType" style="display=flex; justify-content=center;">
      <a href="#" data-type="TOTAL"> TOTAL </a>
      <a href="#" data-type="MEETING"> MEETING </a>
      <a href="#" data-type="ERRAND"> ERRAND </a>
    </div> <!-- ▲ 게시판 타입 끝 ▲ -->


    <!-- ▼ 게시판 카테고리 ▼ -->
    <div class="boardCategory-wrap">

      <!-- 모임 모집글 카테고리 -->
      <div th:if="${boardType.name()} == 'MEETING'" class="boardCategory" style="display=flex; justify-content:center;">
        <a href="#" data-category="Total"> Total </a>
        <a href="#" data-category="Category1"> Volunteer </a>
        <a href="#" data-category="Category2"> Walking </a>
        <a href="#" data-category="Category3"> Info </a>
      </div>

      <!-- 심부름 구인글 카테고리 -->
      <div th:if="${boardType.name()} == 'ERRAND'" class="boardCategory" style="display=flex; justify-content:center;">
        <a href="#" data-category="Total"> Total </a>
        <a href="#" data-category="Category1"> Walking </a>
        <a href="#" data-category="Category2"> Petsitter </a>
        <a href="#" data-category="Category3"> Erranding </a>
      </div>
    </div> <!-- ▲ 게시판 카테고리 끝 ▲ -->

    <p th:text="${keyword}에 대한 검색 결과:">"keyword"에 대한 검색 결과</p>

  <div class="orderBtn">
    <p style="display: inline;">인기순</p>
    <p style="display: inline;"> | </p>
    <p style="display: inline;">최신순</p>
  </div>

    <!-- ▼ 검색결과 게시글 리스트 ▼ -->
 <div th:each="board : ${boardListSubDtos}" class="result-list-wrap">
   <div th:unless="${board.boardType.name() == 'CLINICDIARY'}" class="result-list">
     <p th:text="${board.boardTitle}"></p> <!-- 게시글 제목 -->
     <p th:text="${board.boardWriteDate}"></p> <!-- 게시글 작성일 -->
    <p th:text="${board.likeCount}"></p> <!-- 게시글 좋아요 수 -->
   </div>
  </div> <!-- ▲ 검색결과 게시글 리스트 끝 ▲ -->



  </div>
</div> <!-- ▲ main 끝 ▲ -->

</html>
