<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/mainpage.css" />
    </th:block>
    <th:block layout:fragment="script">
    <script>

        document.addEventListener("DOMContentLoaded", function () {
                const searchBtn = document.getElementById("search-btn");
                if (searchBtn) {
                       searchBtn.addEventListener("click", function () {
                       const keyword = document.getElementById("searchInput").value;
                       window.location.href = `/search?keyword=${encodeURIComponent(keyword)}`;
        });
            } else {
                console.warn("#searchBtn 요소가 존재하지 않습니다.");
        }
    });

       function filterCategory(category) {
                const query = new URLSearchParams(window.location.search).get("query");
                const sort = new URLSearchParams(window.location.search).get("sort") || "latest";
                 window.location.href = `/search?query=${query}&category=${category}&sort=${sort}`;
}

       function sortBy(sort) {
                const query = new URLSearchParams(window.location.search).get("query");
                const category = new URLSearchParams(window.location.search).get("category") || "all";
                window.location.href = `/search?query=${query}&category=${category}&sort=${sort}`;
}
        </script>
    </th:block>
</head>
<div layout:fragment="main" id="main">

    <div>
        <form action="/search" method="get">
            <input type="hidden" name="keyword" value="${keyword}" />
            <button type="submit" name="category" value="community">커뮤니티</button>
            <button type="submit" name="category" value="clinicDiary">진료수첩</button>

        </form>

        <div>
            <a th:href="@{/search(keyword=${keyword}, category=${category}, sort='popular')}">인기순</a> |
            <a th:href="@{/search(keyword=${keyword}, category=${category}, sort='latest')}">최신순</a>
        </div>
    </div>

    <div>
        <h3 th:text=" | ${keyword}에 대한 검색결과 | "></h3>
        <ul>
            <li th:each="result : ${results}">
                <strong th:text="${result.title}"></strong> -
                <span th:text="${result.category}"></span> |
                <span th:text="${result.createAt}"></span> |
                <span th:text="${result.views}"></span>
            </li>
        </ul>
    </div>

</div>

</html>