<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">


<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="javascript"></th:block>


<main layout:fragment="main">
    <!-- 공지사항 배너 -->
    <section class="notice-banner">
        <h3>📢 공지사항</h3>
        <p>시스템 점검 안내 (6/15 02:00~04:00)</p>
        <a href="#">더보기</a>
    </section>

    <!-- 커뮤니티 추천 섹션 -->
    <section class="recommend-section">
        <h2>커뮤니티 인기 글</h2>
        <div class="card-slider">
            <div th:each="community : ${communityList}" class="card community-card">
                <img th:src="${community.fileUrl}" alt="커뮤니티 이미지" />
                <a th:href=" '/community/board/boardDetail/'+${community.id} " th:text="${community.boardTitle}"></a>
                <p th:text="${community.boardContent}"></p>
            </div>
            <!-- 추가 카드들... -->
        </div>
    </section>
</main>
</html>
