<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<head>
  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="main" id="main"> <!-- ▼ main ▼ -->

  <div class="board-detail-wrap">  <!-- ▼ 게시글 상세보기 ▼ -->

    <h3 class="board-detail-title" th:text="${board.boardTitle}"></h3>
    <p class="board-detail-writeDate" th:text="${board.boardWriteDate}"></p>
    <p class="board-detail-boardType" th:text="${board.boardType}"></p>
    <p class="board-detail-category" th:text="${board.category}"></p>
    <p class="board-detail-boardHit" th:text="${board.boardHit}"></p>

    <br>

    <p class="board-detail-boardContent" th:text="${board.boardContent}"></p>

    <h5 class="board-detail-userName" th:text="${board.userName}"></h5>
    <p class="board-detail-userAddress" th:text="${board.userAddress}"></p>


    <div class="count-box">
      <div class="board-detail-likeCount-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
        </svg>
        <p class="board-detail-likeCount" th:text="${board.likeCount}"></p>
      </div>
      <div class="board-detail-commentCount-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
        </svg>
        <p class="board-detail-commentCount" th:text="${board.commentCount}"></p>
      </div>
    </div>

  </div> <!-- ▲ 게시글 상세보기 끝 ▲ -->

  <!-- ▼ 덧글 작성 input ▼ -->
  <form th:object="${commentForm}" method="get" action="/community/board/boardDetail/commentSave">
    <div class="comment-write">
      <div class="input-group mb-3">
        <input type="hidden" th:field="*{boardId}">
        <input type="text"
             th:field="*{commentContent}" class="form-control" placeholder="덧글을 작성해주세요."
               aria-label="Recipient's username"
               aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">작성</button>
        <p th:if="${#fields.hasErrors('commentContent')}" th:errors="*{commentContent}" class="fieldError"></p>
      </div>
    </div>
  </form><!-- ▲ 덧글 작성 input 끝 ▲ -->

  <!-- ▼ 덧글 목록 ▼ -->
  <div class="commentList-wrap">
    <ul class="commentList">

      <li th:each="comment : ${board.commentList}" class="comments">
        <div class="comment-wrap">
          <span th:text="${comment.userName}"></span>
          <span th:text="${comment.commentWriteDate}"></span>
          <span th:text="${comment.commentContent}"></span>
        <!-- 본인의 덧글일 시 수정, 삭제 기능 버튼 보이게 -->
        </div>

      </li>
    </ul>
  </div> <!-- ▲ 덧글 목록 끝 ▲ -->

</div> <!-- ▲ main 끝 ▲ -->

</html>