<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<head>
  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="main" id="main"> <!-- ▼ main ▼ -->

  <!-- ▼ 게시글 작성 input ▼ -->
<!--  <form th:object="${boardForm}" method="post" action="/community/board/boardSave">-->
  <div  class="board-write">
    <div class="board-select-wrap">
      <div class="board-boardType">
        <select class="form-select" aria-label="Default select example">
          <option selected>게시판 타입을 선택해주세요.</option>
          <option value="1">모임 모집글</option>
          <option value="2">심부름 구인글</option>
        </select>
      </div>
      <div class="board-boardCategory">
        <select class="form-select" aria-label="Default select example">
          <option selected>게시판 카테고리를 선택해주세요.</option>
          <option value="1">카테고리1</option>
          <option value="2">카테고리2</option>
          <option value="3">카테고리3</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">글 제목</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="boardTitle">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">작성 내용</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <!-- 임시 방편 첨부파일 input -->
    <div class="mb-3">
      <label for="formFile1" class="form-label">첨부파일1</label>
      <input class="form-control" type="file" id="formFile1">
    </div>
    <div class="mb-3">
      <label for="formFile2" class="form-label">첨부파일2</label>
      <input class="form-control" type="file" id="formFile2">
    </div>
    <div class="mb-3">
      <label for="formFile3" class="form-label">첨부파일3</label>
      <input class="form-control" type="file" id="formFile3">
    </div>
    <div class="mb-3">
      <label for="formFile4" class="form-label">첨부파일4</label>
      <input class="form-control" type="file" id="formFile4">
    </div>
    <div class="mb-3">
      <label for="formFile5" class="form-label">첨부파일5</label>
      <input class="form-control" type="file" id="formFile5">
    </div>
    <!-- 임시 방편 첨부파일 input -->
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">게시</button>
  </div>
<!--  </form>--> <!-- ▲ 게시글 작성 input 끝 ▲ -->


</div> <!-- ▲ main 끝 ▲ -->

</html>