<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<head>
  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/community/boardDetail.css">
    <style>

      .likeButton:hover {
        background-color:#e3b32d;
      }

      .likeButton:active {
          background-color:#c27919;
      }
    </style>
  </th:block>
  <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="main" id="main"> <!-- ▼ main ▼ -->

  <div class="board-detail-wrap">  <!-- ▼ 게시글 상세보기 ▼ -->
    <div class="board-detail-card">

    <!--  게시글 이미지 목록 보여주기  -->
    <div class="board-detail-image">

      <!-- 이미지 1장일 때 -->
      <div th:if="${board.boardFileDtos.size() == 1}" class="single-image">
         <img th:src="${board.boardFileDtos[0].fileUrl}"
            class="boardFile"
              width="700">
      </div>

      <!-- 이미지가 2장 이상일 때 -->
      <div th:if="${board.boardFileDtos.size() > 1}" id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div th:each="file, iterStat : ${board.boardFileDtos}"
               th:class="'carousel-item' + ${iterStat.index == 0 ? ' active' : ''}">
            <img th:src="${file.fileUrl}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

    <!--  게시글 정보 상세보기  -->
    <div class="board-detail-card">
      <h3 class="board-detail-title" th:text="${board.boardTitle}"></h3>
      <p class="board-detail-writeDate" th:text="${board.boardWriteDate}"></p>

      <div class="board-detail-subcard">
        <p class="board-detail-boardType" th:text="${board.boardType}"></p>
        <p class="board-detail-category" th:text="${board.category}"></p>
        <p class="board-detail-boardHit" th:text="'조회수: ' + ${board.boardHit}"></p>
      </div>

      <br>

      <p class="board-detail-boardContent" th:text="${board.boardContent}"></p>

        <div class="board-detail-userCard">
          <p class="board-detail-userName" th:text="${board.userName}"></p>
          <p class="board-detail-userAddress" th:text="${board.userAddress}"></p>
        </div>
      </div>


      <!-- 좋아요 버튼 / 덧글 수 표시 -->
    <div class="count-box">
      <div class="board-detail-likeCount-box">
        <button role="button" class="likeButton" type="button" data-board-id="[[${board.id}]]" data-liked="[[${liked}]]"
          style="border:0px; border-radius:30px; pointer-events:none;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
          </svg>
        </button>
        <p class="board-detail-likeCount" th:text="${board.likeCount}"></p>
      </div>
      <div class="board-detail-commentCount-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
        </svg>
        <p class="board-detail-commentCount" th:text="${board.commentCount}"></p>
      </div>
    </div>
    </div>
  </div> <!-- ▲ 게시글 상세보기 끝 ▲ -->

  <!-- ▼ 덧글 작성 input ▼ -->
  <form th:object="${commentForm}" method="post" action="/community/board/boardDetail/commentSave">
    <div class="comment-write">
      <div class="input-group mb-3">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" th:field="*{boardId}">
        <input type="text"
             th:field="*{commentContent}" class="form-control" placeholder="덧글을 작성해주세요."
               aria-label="Recipient's username"
               aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">작성</button>
        <p th:if="${#fields.hasErrors('commentContent')}" th:errors="*{commentContent}"
           style="color:red;" class="fieldError"></p>
      </div>
    </div>
  </form><!-- ▲ 덧글 작성 input 끝 ▲ -->

  <!-- ▼ 덧글 목록 ▼ -->
  <div class="commentList-wrap">
    <ul class="commentList">

      <li th:each="comment : ${board.commentList}" class="comments">
        <div class="comment-wrap">
          <span th:text="${comment.userName}"></span>
          <span th:text="${comment.commentWriteDate}"></span>
          <span th:text="${comment.commentContent}"></span>
        <!-- 본인의 덧글일 시 수정, 삭제 기능 버튼 보이게 -->
        </div>

      </li>
    </ul>
  </div> <!-- ▲ 덧글 목록 끝 ▲ -->

</div> <!-- ▲ main 끝 ▲ -->

</html>