<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<head>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="main" id="main"> <!-- ▼ main ▼ -->

    <div class="orderBtn">
        <a style="display: inline;" href="/community/board/boardList/L">인기순</a>
        <p style="display: inline;"> | </p>
        <a style="display: inline;" href="/community/board/boardList/I">최신순</a>
    </div>

    <!-- ▼ 게시글 리스트 목록 ▼ -->
    <div th:each="board : ${boardListDtos}" class="board-list">
        <div th:unless="${board.boardType.name() == 'CLINICDIARY'}" class="board-card">

            <a th:href="@{ '/community/board/boardDetail/'+${board.id} }">
            <div class="board-card-body">
                <img th:src="${board.fileUrl}" class="board-card-thumbnailFile" width="400" height="400" style="object-fit:cover;">
                <h3 class="board-card-userName" th:text="${board.userName}"></h3> <!-- 작성자 이름 -->
                <p class="board-card-writeDate" th:text="${board.boardWriteDate}"></p> <!-- 게시글 작성일 -->
                <p class="board-card-boardHit" th:text="${board.boardHit}"></p> <!-- 게시글 조회수 -->
                <p class="board-card-content" th:text="${board.boardContent}"></p> <!-- 게시글 내용 -->
            </div>
            </a>

        </div>
    </div> <!-- ▲ 게시글 리스트 목록 끝 ▲ -->

</div> <!-- ▲ main 끝 ▲ -->

</html>