<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ANICARE </title>

<link rel="stylesheet" href="/css/mainpage.css">
  <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"
  />

  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="javascript"></th:block>

</head>
<body>

<div id="wrap">
  <th:block th:replace="fragment/mainheader::header"></th:block>
  <th:block th:replace="fragment/mypage :: mainmypage"></th:block>
  <th:block layout:fragment="main"></th:block>
  <th:block th:replace="fragment/footer::footer"></th:block>
</div>

  <script src="/javascript/mainpage.js"></script>
</body>
</html>