<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="footer" id="footer">
    <ul class="nav justify-content-center" style="background-color: rgb(255, 187, 0)">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">THIS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">IS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">MY PRECIOUS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">FOOTER</a>
        </li>
    </ul>
</div>
</html>