<!DOCTYPE html>
<html
        lang="ko"
        layout:decorate="~{fragment/default}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<div id="main" layout:fragment="main">
    <div>
        <!-- 문진표 구역 -->
        <div>
            <form action="">
                <label>
                    탈모
                    <input type="checkbox"/>
                </label>
                <label>
                    충혈
                    <input type="checkbox"/>
                </label>
                <label>
                    가려움증
                    <input type="checkbox"/>
                </label>
                <label>
                    구토
                    <input type="checkbox"/>
                </label>
                <label>
                    발열
                    <input type="checkbox"/>
                </label>
                <label>
                    배변이상
                    <input type="checkbox"/>
                </label>
                <label>
                    상처
                    <input type="checkbox"/>
                </label>
                <label>
                    절단
                    <input type="checkbox"/>
                </label>
                <label>
                    뼈_관절이상
                    <input type="checkbox"/>
                </label>
                <label>
                    식음전폐
                    <input type="checkbox"/>
                </label>
                <label>
                    콧물
                    <input type="checkbox"/>
                </label>
                <label>
                    호흡이상
                    <input type="checkbox"/>
                </label>
                <label>
                    기타 증상
                    <input id="etc" type="checkbox"/>
                    <input disabled id="etcSymptom" type="text"/>
                </label>
            </form>
        </div>
        <!-- 문진표 구역 -->
    </div>

    <div>
        <!--문진표 제외 영역-->
        <div>펫 정보 슬라이드 구역</div>

        <button>비대면 진료 신청</button>
        <button>병원예약(미구현)</button>
        <!--문진표 제외 영역-->
    </div>
    <script>
        const etc = document.getElementById("etc");
        const etcSymptom = document.getElementById("etcSymptom");

        etc.addEventListener("change", () => {
            etcSymptom.disabled = !etc.checked;

            if (etcCheckbox.checked) {
                etcSymptom.disabled = false;
                etcSymptom.focus();
            }else {
                etcSymptom.disabled = true;
                etcSymptom.value = "";
            }
    });
    </script>
</div>


</html>
