<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragment/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
    <link href="/css/medical/clinicdiarydetail.css" rel="stylesheet">

</head>
<div id="main" layout:fragment="main">
    <div class="board-detail-wrap">  <!-- ▼ 게시글 상세보기 ▼ -->
        <div>       <!-- 게시글 영역 -->
            <div><!--  게시글 정보영역  -->
                <div>
                    <h3 class="board-detail-title" th:text="${clinicDiaryDto.boardTitle}"></h3>
                    <br>
                    <p class="board-detail-writeDate" th:text="|기록일 : ${clinicDiaryDto.clinicDiaryRecordDate}|"></p>
                </div>
                <div>
                    <h4 style="color: #2999F3FF">진료수첩</h4>
                    <p class="board-detail-boardHit" th:text="|조회수 : ${clinicDiaryDto.boardHit}|"></p>
                    <p th:text="${clinicDiaryDto.status}"></p>
                </div>
            </div>

            <br>
            <div>          <!-- 내용 -->
                <div class="board-detail-image">

                    <!-- 이미지 1장일 때 -->
                    <div class="single-image" th:if="${clinicDiaryDto.boardFiles.size() == 1}">
                        <img class="boardFile"
                             th:src="${clinicDiaryDto.boardFiles[0].fileUrl}"
                             width="700">
                    </div>

                    <!-- 이미지가 2장 이상일 때 -->
                    <div class="carousel slide" id="carouselExample" th:if="${clinicDiaryDto.boardFiles.size() > 1}">
                        <div class="carousel-inner">
                            <div th:class="'carousel-item' + ${iterStat.index == 0 ? ' active' : ''}"
                                 th:each="file, iterStat : ${clinicDiaryDto.boardFiles}">
                                <img alt="..." class="d-block w-100" th:src="${file.fileUrl}">
                            </div>
                        </div>
                        <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExample"
                                type="button">
                            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExample"
                                type="button">
                            <span aria-hidden="true" class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

                <p class="board-detail-boardContent" th:text="${clinicDiaryDto.boardContent}"></p>
            </div>


            <div class="count-box"> <!-- 좋아요(눌렀을 시 on/off 및 카운팅 필요 -->
                <div class="board-detail-likeCount-box">
                    <svg class="bi bi-heart-fill" fill="currentColor" height="16" viewBox="0 0 16 16"
                         width="16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
                              fill-rule="evenodd"/>
                    </svg>
                    <p class="board-detail-likeCount" th:text="${clinicDiaryDto.boardLikeCount}"></p>
                </div>
            </div>

        </div> <!-- ▲ 게시글 상세보기 끝 ▲ -->
    </div>
</div>

</html>
