<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragment/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<div id="main" layout:fragment="main">

    <div>   <!-- 전체 컨테이너 -->
        <div>   <!-- 채팅방 정보 -->
            <h3 th:text="|${roomInfo.userName}의 상담 페이지|"></h3>
            <p th:text="|담당 수의사 : ${roomInfo.vetName}|"></p>
            <p th:text="|환자 : ${roomInfo.petName}|"></p>
        </div>  <!-- 채팅방 정보 -->

        <div>   <!-- 채팅방 영역 -->
            <p th:text="'history size = ' + ${history.size()}">history size</p>
            <div th:each="m : ${history}">
                <p>
                    <span th:text="${m.senderName}"></span>
                    <span th:text="${m.content}"></span>
                    <small th:text="${#temporals.format(m.sentAt, 'HH:mm')}"></small>
                </p>
            </div>
        </div>

        <form method="post" th:action="@{/medical/consultationRoom/send}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="id" th:value="${roomInfo.consultationId}">
            <input autocomplete="off" name="content" placeholder="메시지를 입력하세요" type="text"/>
            <button type="submit">전송</button>
        </form>


    </div>  <!-- 전체 컨테이너 끝 -->

</div>

</html>