<!-- Medical Main 페이지 -->

<!DOCTYPE html>
<html
        lang="ko"
        layout:decorate="~{fragment/default}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
    <link href="/css/medical/medicalmain.css" rel="stylesheet"/>
</head>

<div id="main" layout:fragment="main">
    <div class="banner">
        <img src="/medicalImages/KakaoTalk_20250520_111909933.png" style="margin-bottom: 100px;">
    </div>
    <div id="container">


        <div class="link-buttons">
            <!-- 링크 이동용 버튼 -->
            <div>
                <a href="/"> 진행중인 진료 </a>
            </div>
            <div>
                <a href="/medical/clinicdiary"> 진료수첩 </a>
            </div>
            <div>
                <a href="/medical/checkupPage"> 진단받기 </a>
            </div>
            <!-- 링크 이동용 버튼 -->
        </div>
    </div>
</div>
</html>
