<!-- Medical Main 페이지 -->

<!DOCTYPE html>
<html
  lang="ko"
  layout:decorate="~{fragment/default}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
    <link href="/css/medical/medicalmain.css" rel="stylesheet" />
  </head>

  <div id="main" layout:fragment="main">
    <div id="container">
      <h1 class="display-font">메디컬 메인페이지 작업중입니다.</h1>

      <div>
        <img
          src="/src/main/resources/static/medicalImages/ChatGPT Image 2025년 5월 18일 오후 08_11_36.png"
          alt="메디컬 매인 배너"
          style="width: 1440px; height: 560px; object-fit: cover"
        />
      </div>

      <div>
        <!-- 링크 이동용 버튼 -->
        <button>
          <a href="/"> 예약 진료 이동 </a>
        </button>
        <button>
          <a href="/medical/clinicdiary"> 진료수첩 </a>
        </button>
        <button>
          <a href="/medical/checkupPage"> 진단받기 </a>
        </button>
        <!-- 링크 이동용 버튼 -->
      </div>
    </div>
  </div>
</html>
