<!-- Medical Main 페이지 -->

<!DOCTYPE html>
<html
        lang="ko"
        layout:decorate="~{fragment/default}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>

<div id="main" layout:fragment="main">
    <h1>메디컬 메인페이지 작업중입니다.</h1>

    <!-- bootstrap 이미지슬라이드 -->
    <div
            class="carousel slide"
            data-bs-ride="carousel"
            id="carouselExampleInterval"
            style="display: default"
    >
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img
                        alt="예시이미지1"
                        class="d-block w-100"
                        src="medicalImages/puppy1.jpg"
                />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img
                        alt="예시이미지2"
                        class="d-block w-100"
                        src="medicalImages/puppy2.jpg"
                />
            </div>
            <div class="carousel-item">
                <img
                        alt="예시이미지3"
                        class="d-block w-100"
                        src="medicalImages/puppy3.jpg"
                />
            </div>
        </div>
        <button
                class="carousel-control-prev"
                data-bs-slide="prev"
                data-bs-target="#carouselExampleInterval"
                type="button"
        >
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
                class="carousel-control-next"
                data-bs-slide="next"
                data-bs-target="#carouselExampleInterval"
                type="button"
        >
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- bootstrap 이미지슬라이드 -->

    <!-- 검색창 -->
    <div>
        <input id="" name="" placeholder="검색어를 입력해주세요" type="text"/>
        <button>검색</button>
    </div>
    <!-- 검색창 -->

    <div>
        <!-- 링크 이동용 버튼 -->
        <button>예약 진료 이동</button>
        <button>진료수첩</button>
        <button>진단받기</button>
        <!-- 링크 이동용 버튼 -->
    </div>
</div>
</html>
