<html lang="ko"
      layout:decorate="~{fragment/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
    <link href="/css/medical/newclinicdiary.css" rel="stylesheet">
</head>
<div id="main" layout:fragment="main">
    <div class="board-detail-wrap">  <!-- ▼ 게시글 상세보기 ▼ -->
        <div>       <!-- 게시글 영역 -->
            <form enctype="multipart/form-data"
                  method="post"
                  th:action="@{/medical/uploadClinicDiary}"
                  th:object="${clinicDiarySetDto}">

                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">

                <div><!--  게시글 정보영역  -->
                    <div>
                        <h3>진료수첩 작성</h3>
                    </div>
                    <div>
                        <input placeholder="제목을 입력해주세요." style="width: 90%" th:field="*{boardTitle}" type="text"/>
                        <br>
                        <div class="text-danger" style="padding-left: 16px" th:errors="*{boardTitle}"
                             th:if="${#fields.hasErrors('boardTitle')}"></div>
                    </div>
                    <br>
                    <div>
                        <input class="input-width" max="2025-12-31"
                               placeholder="날짜 선택" th:field="*{clinicDiaryRecordDate}" type="date"/>
                        <br>
                        <div class="text-danger" style="padding-left: 16px" th:errors="*{clinicDiaryRecordDate}"
                             th:if="${#fields.hasErrors('clinicDiaryRecordDate')}"></div>
                    </div>
                    <br>
                    <div>
                        <select class="input-width" th:field="*{status}">
                            <option selected value="">반려동물 상태를 선택해주세요.</option>
                            <option th:each="st : ${T(com.AniCare.demo.constant.medical.PetStatus).values()}"
                                    th:text="${st}"
                                    th:value="${st}">상태
                            </option>
                        </select>
                        <div class="text-danger" style="padding-left: 16px" th:errors="*{status}"
                             th:if="${#fields.hasErrors('status')}"></div>
                    </div>
                    <br>
                </div>

                <div>          <!-- 내용 -->
                    <!-- 임시 첨부파일 input -->
                    <div class="mb-3" th:each="num : ${#numbers.sequence(1,5)}">
                        <label class="form-label" th:for="${'files' + num}" th:text="파일+${num}">첨부파일</label>
                        <input class="form-control" th:field="*{files}" th:id="${'files' + num}" type="file">
                    </div>
                    <!-- 임시 첨부파일 input-->
                    <div class="form-group">
                        <label for="hospital">병원 선택 (선택 사항)</label>
                        <select class="form-control input-width"
                                id="hospital"
                                th:field="*{hospitalId}">
                            <!-- 빈 값 옵션: 값이 비어있으면 hospitalId는 null로 바인딩 -->
                            <option th:text="'선택 안 함'" th:value="null"></option>
                            <option th:each="h : ${hospitals}"
                                    th:text="${h.hospitalName}"
                                    th:value="${h.id}">
                            </option>
                        </select>
                    </div>
                    <textarea placeholder="내용을 작성해주세요." th:field="*{boardContent}"></textarea>
                </div>

                <button type="submit">저장</button>
            </form>
        </div> <!-- ▲ 게시글 ▲ -->
    </div>
</div>

</html>
