<!DOCTYPE html>
<html
        lang="ko"
        layout:decorate="~{fragment/default}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
    <link href="/css/medical/vetlist.css" rel="stylesheet">
</head>
<div id="main" layout:fragment="main">
    <div class="vet-list"> <!-- 창 영역 -->
        <div class="vet-card" th:each=" vetCard : ${vets} "><!-- 수의사 리스트 카드 -->
            <a th:href="@{/medical/vetList/{vetInfoId}(vetInfoId=${vetCard.vetInfoId},checkupId=${checkupId})}">
                <img
                        alt="수의사 프로필"
                        class="vet-image"
                        th:src="@{/anicareFile/{file}(file=${vetCard.profileImage})}"
                />
                <div class="vet-info">
                    <p th:text="${'수의사명 : ' + vetCard.vetName}"></p>
                    <p th:text="${'병원명 : ' + vetCard.hospitalName}"></p>
                    <p th:text="${'치료 가능 : ' + vetCard.curingCapable}"></p>
                    <p th:text="${'별점 : ' + vetCard.averageRating}"></p>
                </div>
            </a>
        </div>
    </div>
</div>
</html>
