<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<head>
  <meta charset="UTF-8">
  <title>신고 목록</title>
  <link rel="stylesheet" href="/css/ad/rplist.css">
</head>

<div layout:fragment="main" id="main">
  <body>

  <!-- 상단 네비게이션 -->
  <nav class="nav-container">
    <a href="/ad/reportList" class="nav-btn">신고</a>
    <a href="/ad/enquiryReply" class="nav-btn">문의</a>
    <a href="/ad/notice" class="nav-btn">공지</a>
    <a href="/ad/hospital" class="nav-btn">병원등록</a>
    <a href="/ad/masterAd" class="nav-btn">계정관리</a>
    <a href="/ad/hospitalList" class="nav-btn">병원목록</a>
  </nav>

  <div class="report-container">
    <h2 class="title">신고 목록</h2>
    <table class="custom-table">
      <thead>
      <tr>
        <th>신고 ID</th>
        <th>날짜</th>
        <th>게시글 ID</th>
        <th>사용자 ID</th>
        <th>신고 유형</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="report : ${reports}">
        <td th:text="${report.reportId}"></td>
        <td th:text="${report.reportDate}"></td>
        <td th:text="${report.boardId}"></td>
        <td th:text="${report.userId}"></td>
        <td th:text="${report.reportType}"></td>
      </tr>
      </tbody>
    </table>
  </div>

  </body>
</div>
</html>
